.Account {
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
}

.AccountComponent {
  border: 2px;
  border-style: solid;
  margin: 10px;
}

/* .AccountScreen {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
} */

/* .container {
  margin: 10vw;
  margin-left: 10vw;
  margin-right: 10vw;
  display: grid;
  gap: 10px;
} */
