@import "@font/nunito";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, div {
  font-family: var(--fontFamily-nunito);
  color: white;
  background: #212B37;
}

.Button {
  background-color: #08C6AC;
  border-color: #08C6AC;
  font-size: large;
  font-weight: bold;
}